
body{
    margin:0;
    font-family: 'Spartan', sans-serif;

}
.main-container{
    width: 100vw;
   // height: 100vh;

}
//top  content 
.container-top{
    display: flex;
    margin: 100px 100px 0 100px;
    color: #512050;

    &-l {
        flex-grow:1;
        width: 400px;
        padding: 30px;
        
        &--header {
            font-size: 3rem;

	        margin: 0;
        }
  
        &-text {
          color: hsl(303, 10%, 53%);
          line-height: 1.5;
          font-size: .95rem;
          text-align: left;
          width: 475px;
        }
    }
    
    &-r{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        flex-grow:3;
        width: 450px;
        padding: 30px;

        &--box {
            background-color: #f7f2f7;
            border-radius: 10px;
            margin-bottom: 15px;
            padding: 20px 30px;
            font-weight: 700;
            font-size: .8rem;
            text-align: center;
            width: 60%;
        }    
    }
           
    
}

.rate-box-1 {
	margin-top: 20px;
	margin-right: 100px;
}

.rate-box-2 {
	margin-right: 40px;
}

.rate-box-3 {
	margin-right: 0;
}

.star {
	display: inline-block;
	margin: 0 10px 0 -10px;
}

//middle content
.container{
    display: flex;
    align-items: center;
    margin: 0 115px;
  

    &-content{
    background-color: #512050;
    color: hsl(300, 24%, 96%);
     width: 200px;
     margin: 1rem;
     padding: 3em;
     border-radius: 10px;
     font-size: .8rem;
    line-height: 1.7;
    
        &-header{
            
            display: inline-block;
            margin-block-start: 0;
            margin-block-end: 0;
            
            margin-left: 15px;

            & h4{
            margin: 0;
        
            }
                
            & span{
                font-weight: 500;
                color: hsl(333, 80%, 67%);
            }
           
            
        }
      
        &-1{
          flex-grow: 1;
          align-self:flex-start;
      }
        &-2{
          flex-grow: 1;
          align-self:flex-start;
          margin-top:35px;
        
      }
        &-3{
        flex-grow: 1;
          align-self:flex-start;
          margin-top:55px;
       
      }
      
    }
    &-image{
        border-radius: 50%;
        width: 10%;
       
    }

    &-text{
        margin-block-start: 2em;
        margin-block-end: 1em;
    }
}

.bg-top {
	position: absolute;
	top: -1rem;
	left: 2rem;
}
.bg-bottom {
	position: absolute;
	top: 6.50em;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.attribution,
a:link{
    font-size: .7em;
    text-align: center;
    margin-top: 3em;
    text-decoration: none;
    color:hsl(303, 10%, 53%);
}